 body
{
  font-family: Arial;
  font-size: 14px;
}
a {
    color: blue;
    text-decoration: none;
    font-size: 14px;
}
a:hover
{
  text-decoration: underline;
}
  #content img{
    width:100px;
    float:left;
  }

  img.thumb{
    float:left;
  }

  #map { 
 	width: 100%;
 	height: 600px;
 }